<div class="panel panel-default">
  <div class="panel-heading">
    Параметры галереи <%= "'#{@gallery.name}'" unless @gallery.new_record? %>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6">
        <%= form_for([:admin, @gallery], html: {class: "form-horizontal"}) do |f| %>
            <fieldset>

              <div class="form-group <%= 'has-error' if @gallery.errors[:name].present? %>">
                <%= f.label :name, class: 'col-sm-3 control-label' %>
                <div class="col-sm-4">
                  <%= f.text_field :name, class: 'form-control input-sm' %>
                  <% if @gallery.errors[:name].present? %>
                      <label class="control-label" for="inputError1"><%= get_devise_error(@gallery, :name) %></label>
                  <% end %>
                </div>
              </div>

              <div class="form-group <%= 'has-error' if @gallery.errors[:description].present? %>">
                <%= f.label :description, class: 'col-sm-3 control-label' %>
                <div class="col-xs-9">
                  <%= f.text_area :description, class: 'form-control input-sm' %>
                </div>
              </div>

              <div class="form-group <%= 'has-error' if @gallery.errors[:meta_keywords].present? %>">
                <%= f.label :meta_keywords, class: 'col-sm-3 control-label' %>
                <div class="col-sm-4">
                  <%= f.text_field :meta_keywords, class: 'form-control input-sm' %>
                  <% if @gallery.errors[:meta_keywords].present? %>
                      <label class="control-label" for="inputError1"><%= get_devise_error(@gallery, :meta_keywords) %></label>
                  <% end %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :published, class: "col-sm-3 control-label" %>
                <div class="col-sm-2">
                  <%= f.check_box :published, class: "form-control" %>
                </div>
              </div>
            </fieldset>
            <div class="clearfix"></div>

            </div>
            </div>
            <div class="row">
              <div class="col-lg-12">

              </div>

            </div>
            <hr class="clearfix">
            </div>
            <div class="panel-footer text-right">
              <%= f.submit 'Сохранить', class: 'btn btn-default' %>

        <% end %>

        </div>
        </div>


<% unless @gallery.new_record? %>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for([:admin, @gallery, Photos::Picture.new], remote: false, :html => {:class => '', :multipart => true}) do |f| %>
            <%= f.hidden_field :gallery_id, value: @gallery.id %>
            <%= f.file_field :image, multiple: true, name: 'picture[image]' %>
        <% end %>
        <hr/>
        <ul id="images" class="list-unstyled">
          <%= render @gallery_images if @gallery_images.present? %>
        </ul>

      </div>
    </div>
<% end %>

<!--&lt;!&ndash;<script>&ndash;&gt;-->
<!--//    $( document ).ready(function() {-->
<!--//        $(".pic-info").hide();-->
<!--//    });-->
<!--//-->
<!--//    $("li").on({-->
<!--//        mouseenter: function () {-->
<!--//            $(this).children().find('div:first').fadeIn();-->
<!--//        },-->
<!--//        mouseleave: function () {-->
<!--//            $(this).children().find('div:first').fadeOut();-->
<!--//        }-->
<!--//    });-->
<!--&lt;!&ndash;</script>&ndash;&gt;-->
