<div class="pure-g">
  <div class="pure-u-14-24">
    <%= form_for([:admin, @gallery], html: { class: 'pure-form pure-form-aligned'} ) do |f| %>
        <div class="pure-control-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'pure-input-1-2' %>
        </div>
        <div class="pure-control-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: 'pure-input-1-2' %>
        </div>

        <div class="pure-controls">
          <%= f.label :published, class: 'pure-checkbox' do %>
              <%= f.check_box :published %> <%= Photos::Gallery.human_attribute_name('published') %>
          <%  end %>
          <p>
            <%= f.submit class: 'pure-button pure-button-primary' %>
          </p>
        </div>
    <% end %>
  </div>
  <div class="pure-u-10-24">
    <% unless @gallery.new_record? %>
        <fieldset>
          <legend>Загрузка изображений в галерею</legend>
          <%= form_for([:admin, @gallery, Photos::Picture.new], remote: false, :html => {:class => 'form-horizontal', :multipart => true}) do |f| %>
              <div class="form-group">
                <%= f.label :images, class: "col-sm-2 control-label" %>
                <div class="col-sm-2">
                      <span class="btn btn-default btn-file btn-sm">
                          <%= f.hidden_field :gallery_id, value: @gallery.id %>
                        <%= f.file_field :image, multiple: true, name: 'picture[image]' %>
                      </span>
                  <%= f.hidden_field :image_cache %>
                </div>
              </div>
          <% end %>
          <div id="document_progressbar">
            <div class="progress">
              <div class="progress-bar progress-bar-default document-progress-bar"></div>
            </div>
          </div>
        </fieldset>
    <% end %>

    <% unless @gallery.new_record? %>
        <section class="gallery" id="images">
        <%= render @gallery_images if @gallery_images.present? %>
        </section>
    <% end %>
  </div>
</div>




