<table class="table table-striped">
  <thead>
  <th class="text-center" width="5%">
    <%= Photos::Gallery.human_attribute_name('id') %>
  </th>
  <th class="text-left" width="45%">
    <%= Photos::Gallery.human_attribute_name('name') %>
  </th>
  <th class="text-center" width="10%">
    <%= Photos::Gallery.human_attribute_name('pic_count') %>
  </th>
  <th class="text-center" width="20%">
    <%= Photos::Gallery.human_attribute_name('created_at') %>
  </th>
  <th class="text-center" width="5%">
    <%= Photos::Gallery.human_attribute_name('published') %>
  </th>
  <th class="text-center" width="10%">
  </th>
  </thead>
  <tbody>
  <% @galleries.each do |gallery| %>
      <tr>
        <td class="text-center">
          <span class="label label-info"><%= gallery.id %></span>
        </td>
        <td class="text-left">
          <%= link_to gallery.name, admin_gallery_path(gallery) %>
        </td>
        <td class="text-center">
          <span class="label label-info"><%= gallery.pictures.count %></span>
        </td>
        <td class="text-center">
          <span class="label label-info"><%= l(gallery.created_at, format: :short) %></span>
        </td>
        <td class="text-center">
          <span class="label label-info"><%= gallery.published ? fa_icon('plus') : fa_icon('minus') %></span>
        </td>
        <td class="text-center">
          <%= link_to edit_admin_gallery_path(gallery), class: 'btn btn-default btn-sm' do %>
              <i><i class="fa fa-edit"></i> </i>
          <% end %>
          <%= link_to admin_gallery_path(gallery), method: :delete, class: 'btn btn-default btn-sm' do %>
              <i><i class="fa fa-trash-o"></i> </i>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
