<div class="panel panel-default">
  <div class="panel-heading">
    Параметры галереи <%= "'#{@gallery.name}'"  unless @gallery.new_record? %>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <tbody>
      <tr>
        <td style="width: 20%" class="text-right text-uppercase">
          <strong>Название</strong>
        </td>
        <td style="width: 80%" class="text-left">
          <%= @gallery.name %>
        </td>
      </tr>
      <tr>
        <td style="width: 20%" class="text-right text-uppercase">
          <strong>Дата создания</strong>
        </td>
        <td style="width: 80%" class="text-left">
          <%= l @gallery.created_at, format: :short %>
        </td>
      </tr>
      <tr>
        <td style="width: 20%" class="text-right text-uppercase">
          <strong>Дата изменения</strong>
        </td>
        <td style="width: 80%" class="text-left">
          <%= l @gallery.updated_at, format: :short %>
        </td>
      </tr>
      <tr>
        <td style="width: 20%" class="text-right text-uppercase">
          <strong>Изображений</strong>
        </td>
        <td style="width: 80%" class="text-left">
          <%= @gallery.pictures.count rescue '-' %>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="panel-footer text-right">
      <%= link_to t('buttons.edit'), edit_admin_gallery_path(@gallery), class: 'btn btn-default' %>

    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <ul id="images" class="list-unstyled">
      <%= render partial: 'photos/admin/pictures/picture', collection: @gallery_images.('id DESC') if @gallery_images.present? %>
    </ul>
  </div>
</div>
<p>
</p>
