<li class="col-md-3" id="<%= dom_id(picture) %>">
  <div class="thumbnail">
    <%= link_to gallery_picture_path(picture.gallery, picture) do %>
        <%= image_tag picture.image.thumb('250x250#nw').url, class: 'image_t', data: {id: picture.id} if picture.image_stored? %>
    <% end %>

    <div class="text-center pic-info">
      <div style="margin-top: 10px; margin-bottom: 10px;">
      <span class="label label-info">#<%= picture.id %></span>
      <% if picture.image.landscape? %>
          <span class="label label-info" title="Альбомная ориентация">Landscape</span>
      <% elsif picture.image.portrait? %>
          <span class="label label-info" title="Портретная ориентация">Portrait</span>
      <% else %>
          <span class="label label-info" title="Квадрат">Square,</span>
      <% end %>
      <span class="label label-info" title="Размеры"> <%= picture.image.height %> x <%= picture.image.width %>
      </span>
      </div>
      <% unless action_name == 'show' %>
          <div style="margin-top: 10px; margin-bottom: 10px;">
            <%= form_tag edit_name_admin_gallery_picture_path(picture.gallery, picture), method: :post, remote: true, class: 'text-muted', :authenticity_token => true do %>
                <%= text_field(:picture, :name, placeholder: 'Наименование', id: picture.id, value: picture.name || nil, class: 'col-sm-12') %>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>

</li>







