<li class="col-md-3" id="<%= dom_id(picture) %>">
  <div class="thumbnail">
    <%= link_to admin_picture_path(picture) do %>
        <%= image_tag picture.image.thumb('230x230#nw').url, class: 'image_t', data: {id: picture.id} if picture.image_stored? %>
    <% end %>

    <div class="text-center pic-info">
      ID: <%= picture.id %>,
      <% if picture.image.landscape? %>
          <span data-toggle="tooltip" data-placement="top" title="Альбомная ориентация">Landscape,</span>
      <% elsif picture.image.portrait? %>
          <span data-toggle="tooltip" data-placement="top" title="Портретная ориентация">Portrait,</span>
      <% else %>
          <span data-toggle="tooltip" data-placement="top" title="Квадрат">Square,</span>
      <% end %>
      <span data-toggle="tooltip" data-placement="top" title="Размеры"> <%= picture.image.height %>
        x<%= picture.image.width %>
        <%= link_to fa_icon('trash-o'), admin_gallery_picture_path(picture.gallery, picture), method: :delete, class: 'pull-right', remote: true, data: {confirm: 'Вы уверены?'} %>
      </span>
      <% unless action_name == 'show' %>
          <%= form_tag edit_name_admin_gallery_picture_path(picture.gallery, picture), method: :post, remote: true, class: 'text-muted', :authenticity_token => true do %>
              <%= text_field(:picture, :name, placeholder: 'Заголовок', id: picture.id, value: picture.name || nil, class: 'col-sm-12') %>
          <% end %>
      <% end %>
    </div>

    <p class="text-center">
      <% unless picture.first? %>
          <%= link_to fa_icon('angle-double-left'), first_position_admin_gallery_picture_path(picture.gallery.id, picture.id), remote: true, method: :post %>
          <%= link_to fa_icon('angle-left'), up_position_admin_gallery_picture_path(picture, gallery_id: picture.gallery.id), remote: true, method: :post %>
      <% end %>
      <span class="label label-info"><%= picture.position %></span>
      <% unless picture.last? %>
          <%= link_to fa_icon('angle-right'), down_position_admin_gallery_picture_path(picture, gallery_id: picture.gallery.id), remote: true, method: :post %>
          <%= link_to fa_icon('angle-double-right'), last_position_admin_gallery_picture_path(picture, gallery_id: picture.gallery.id), remote: true, method: :post %>
      <% end %>
    </p>
  </div>

</li>







